body {
  text-align: center;
  background-color: #DDDDDD;
}

h1 {
  font-size: 4rem;
  color: #903749;
  font-family: 'Permanent Marker', cursive;
}

footer {
  color: #903749;
  font-family: sans-serif;
}

.z {
  background-image: url("images/tom1.png");
  background-repeat: no-repeat;
}

.q {
  background-image: url("images/tom2.png");
  background-repeat: no-repeat;
}

.s {
  background-image: url("images/tom3.png");
  background-repeat: no-repeat;
}

.d {
  background-image: url("images/tom4.png");
  background-repeat: no-repeat;
}

.j {
  background-image: url("images/snare.png");
  background-repeat: no-repeat;
}

.k {
  background-image: url("images/crash.png");
  background-repeat: no-repeat;
}

.l {
  background-image: url("images/kick.png");
  background-repeat: no-repeat;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #536162;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #536162;
  font-size: 4rem;
  font-family: 'Indie Flower', cursive;
  line-height: 2;
  font-weight: 900;
  color: #903749;
  text-shadow: 3px 0 #000000;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
